// main style
body {
  background: linear-gradient(180deg, rgba(0,53,107,1) 0%, rgba(0,0,0,1) 100%);
  margin: 0;
  background-repeat: no-repeat;
  background-size: contain;
}

body, input, button {
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  background: #24292e;
  color: #fff;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;

  &--disabled {
    background: #828282;
    cursor: not-allowed;
  }
}
